################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C#/SierpinskiTriangle/bin/Debug
/C#/.vs/SierpinskiTriangle/v15
/C#/SierpinskiTriangle/obj/Debug
